<div class="mb-6 flex gap-3 flex-row items-center justify-between">
  <div class="flex gap-3 items-center">
    <h2 class="ml-4 text-title-md2 font-bold text-theme-on-surface">Settings</h2>
  </div>
</div>

<div class="theme-surface-raised px-5 py-5 sm:px-7.5">
  <div class="max-w-full"><.setting_form conn={@conn} changeset={@changeset} action={~p"/settings"} /></div>
</div>
